@use "./base.scss";

//put your custom CSS here!

//内部链接样式
/*a.internal {
   padding: 0 .3rem;
}*/

:root {
   // 损坏链接的颜色
   --broken-link-color: #9e2467;

}

[saved-theme="dark"] {
   // Code block
   --code-bg: #0d1117;
   --code-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
   --code-title-bg: #161b22;
   --code-title-text: #c9d1d9;
   --code-border: #30363d;
   // Code block title
   --code-language-bg: #2d333b;
   --code-language-text: #adbac7;
}

// 损坏的内部链接样式
a.internal.broken-link {
   border-bottom: 2px dashed var(--broken-link-color);
   background-color: rgba(80, 31, 58, 0.6);

   /*position: relative;
   padding-right: 1.2em;
   &::after {
      content: "⊘";  // 圆圈加叉号
      display: inline-block;
      position: absolute;
      right: 0;
      font-size: 1em;
      transform: translateY(-50%);
      top: 50%;
   }*/
   
   &:hover {
      //color: rgb(128, 1, 1);
      text-decoration: line-through;
      background-color: rgba(80, 31, 58, 0.6);
   }

   // 禁用 popover
   .popover {
      display: none !important;
   }
}
